---
layout: default
permalink: /macaca/
---

<section class="hello-world container text-center">
  <div class="container">
    {% include_relative assets/icons/macaca.svg %}

    <h1>
      {{ site.slogen }}
      {% include_relative assets/icons/heart.svg %}
      {% include_relative assets/icons/heart.svg %}
    </h1>

    <a href="/macaca/getting-started.html" class="getting-started">
      <paper-ripple class="maroon"></paper-ripple>
      Getting Started
    </a>
  </div>
</section>

<section class="command">
  <div class="container">
    <p class="text-center">Write End-to-End tests in Node.js and run against a WebDriver server.</p>

{% highlight shell %}
$ npm i -g macaca-cli       # Install Command Line Tools
$ macaca run                # Run. That's All
{% endhighlight %}
  </div>

  <button id="play" class="play" title="Watch Video">
    <paper-ripple class="maroon"></paper-ripple>
  </button>
</section>

<section class="sample clearfix">
  <div class="container">
  {% include video.html id="sample-video" url="https://os.alipayobjects.com/rmsportal/rEgPjSRIJBwfbMq.mp4" %}
  </div>
</section>

<section class="features clearfix">
  <div class="container">
    <div class="feature-item">
      <h3>Cross Platforms</h3>
      <p>Both <strong>Mobile</strong>, Desktop Platforms Supported</p>
    </div>

    <div class="feature-item">
      <h3>Real Devices</h3>
      <p>Native, Hybrid and Mobile Web, Multi-applications Supported</p>
    </div>

    <div class="feature-item">
      <h3>Easy Test</h3>
      <p>Test case dev and debug become more easier</p>
    </div>

    <div class="feature-item">
      <h3>Distributed CI</h3>
      <p>Privately deployed continuous integration service</p>
    </div>
  </div>
</section>

<script>
  (function() {
    var sampleVideo = document.getElementById('sample-video');
    var videoContainer = sampleVideo.parentNode.parentNode;
    var playBtn = document.getElementById('play');

    playBtn.addEventListener('click', function() {
      videoContainer.style.display = 'block';
      sampleVideo.play();
    }, false);
  })();
</script>
