article {
  min-height: 666px;
  padding: 50px 0 100px;

  aside + & {
    margin-left: 250px;

    @media (max-width: 767px) {
      margin-left: 0;
      padding: 25px 0 50px;
    }
  }

  h1 {
    margin: 0;

    + h2 {
      margin-top: 1em;
    }
  }

  h2 {
    margin-top: 2em;
    margin-bottom: .5em;
  }

  ul, ol {
    margin-left: 1.2em;
  }

  h3, h4, h5, h6,
  ul, ol, p {
    margin-top: 1em;
  }

  p + p,
  li + li {
    margin-top: .5em;
  }

  img {
    max-width: 100%;
  }
}
